* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  font-family: "Walter Turncoat", cursive;
}

/* ===========

   =========== */
body {
  background: gray;
  background-size: cover;
  min-height: 100vh;
  border: solid;
  border-color: purple;
}

header {
  display: flex;
  justify-content: space-around;
  background: lightblue;
  height: 15vh;
  width: 100%;
  border: solid;
  border-color: orange;
  color: black;
}

main {
  background: black; /* Maybe this is a road or something */
  min-height: 75vh;
}

footer {
  min-height: 20vh;
  background: blue;
}
/* ===========

   =========== */

/* ===========

   =========== */

#wall {
  background: url("./Images/wall-textures/brick-background_0.png");
  background-size: cover;
  height: 20vh;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  position: relative;
  padding-top: 500px;
}

#person {
  background: url("./Images/player_images/Damian_Behind.svg");
  background-size: cover;
  height: 300px;
  width: 300px;
  left: 2.5rem; /* play around with this */
  position: absolute;
  bottom: 10vh;
  z-index: 9999;
}

#person:active {
  top: 20rem;
}
