* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    background: gray;
    background-size: cover;
    min-height: 100vh;
    border: solid;
    border-color: purple;
}

header {
    background: darkgray;
    height: 20vh;
    width: 100%;
    border: solid;
    border-color: orange;
    color: black;

}