<footer class="site-footer">
    <div class="logo">
        <img src="/src/docs/favicon/web-app-manifest-192x192.png" alt="Logo" srcset="">
        <!-- <h1></h1> -->
    </div>
    <div>
        <nav>
            <ul class="site-nav__list">
                <li><a routerLink="/projects" class="site-nav__link">Projects</a></li>
                <li><a routerLink="/about" class="site-nav__link">About</a></li>
                <li><a routerLink="/contact" class="site-nav__link">Contact</a></li>
            </ul>
        </nav>
    </div>
</footer>