*, html {
    margin: 0;
    padding: 0;
}
#banner-header {
    display: flex;
    background-color: $main-color;
    justify-content: center;
    align-items: center;
    height: 30px;
}

.logo-main {
    font-size: $logo-font-size;
    font-family: $logo-font-family;
    font-weight: $logo-font-weight;
}

h1 {
    font-weight: $h1-font-weight;
    font-size: $h1-font-size;
    font-family: $h1-font-family;
}

h2 {
    font-weight: $h2-font-weight;
    font-size: $h2-font-size;
    font-family: $h2-font-family;
}

p {
    font-weight: $p-font-weight;
    font-size: $p-font-size;
    font-family: $p-font-family;
}