*, html {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}
header {
    display: flex;
}
#banner-header {
    p {
        letter-spacing: 0.125em;
    }
    display: flex;
    background-color: $main-color;
    justify-content: center;
    align-items: center;
    height: 30px;
}
#main-content {
    display: block;
    padding: 24px;
}




#menu-header {
    display: flex;
    flex-direction: row;
}
.burger-menu {
    display: inherit;
    width: 15%;
}
.logo-title {
    display: inherit;
    width: 70%;
}

.logo-main {
    font-size: $logo-font-size;
    font-family: $logo-font-family;
    font-weight: $logo-font-weight;
    flex-grow: 0.2;
}

.main-item {
    min-height: 500px;
    background-color: $secondary-color;
    margin-top: 24px;
}

h1 {
    font-weight: $h1-font-weight;
    font-size: $h1-font-size;
    font-family: $h1-font-family;
}

h2 {
    font-weight: $h2-font-weight;
    font-size: $h2-font-size;
    font-family: $h2-font-family;
}

p {
    font-weight: $p-font-weight;
    font-size: $p-font-size;
    font-family: $p-font-family;
}