<ng-template #projectIcon><ng-content></ng-content></ng-template>

@if (projectDetails.isExternal) {
    <a class="project-bar" [href]="projectDetails.path" target="_blank">
        <span class="project-bar__icon" aria-hidden="true">
            <ng-container *ngTemplateOutlet="projectIcon"></ng-container>
        </span>
        <span class="project-bar__body">
            <span class="project-bar__value">{{ projectDetails.title }}</span>
        </span>
        <span class="project-bar__chevron" aria-hidden="true">→</span>
    </a>
}
@else {
    <a class="project-bar" [routerLink]="routerLinkPath">
        <span class="project-bar__icon" aria-hidden="true">
            <ng-container *ngTemplateOutlet="projectIcon"></ng-container>
        </span>
        <span class="project-bar__body">
            <span class="project-bar__value">{{ projectDetails.title }}</span>
        </span>
        <span class="project-bar__chevron" aria-hidden="true">→</span>
    </a>
}
