*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html, body {
    font-size: 100%;
    background: radial-gradient(rgba(1, 85, 1, 0.5), #23282d);
    overflow: hidden;
    box-sizing: border-box;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
}

#nav-bar {
    min-height: 10vh;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 1px;
}

#content {
    min-height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#project-content {
    margin: auto;
    min-height: 90vh;
}

#project-panel {
    display: block;
    text-align: center;
    padding-top: 30px;
    margin: auto;
    margin-top: 10px;
    width: 50%;
    border: 10px;
    border-style: solid;
    border-color: wheat;
    background: rgba(10, 194, 10, 0.15);
}

#project-panel, a {
    color: whitesmoke;
}

#left-content, #right-content {
    width: 20%;
    border: solid;
    border-top: none;
    border-bottom: none;
    border-width: 1px;
}

#left-content {
    border-left: none;
}

#right-content {
    border-right: none;
}

#inner-content {
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#landing-button {
    border-style: solid;
    border-radius: 20px;
    border-width: 5px;
    border-color: black;
    height: 50px;
    background-color: maroon;
    text-decoration: none;
    color: #b3b1a5;
    /*remove box around autofocus*/
    outline: none;
    margin-top: 50px;
    padding: 10px;
}

h1 {
    text-align: center;
    color: whitesmoke;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

#landing-button {
    text-align: center;
}