html,
body {
    background-color: darkgray;
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

#nav-bar {
    display: flex;
    height: 5%;
    width: 100%;
    border: solid;
    border-top: none;
    border-width: 1px;
}

#content {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#left-content,
#right-content {
    width: 20%;
    border: solid;
    border-top: none;
    border-bottom: none;
    border-width: 1px;
}

#inner-content {
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#next-page-button {
    border-style: solid;
    border-radius: 20px;
    border-width: 5px;
    border-color: black;
    height: 50px;
    background-color: maroon;
    text-decoration: none;
    color: white;
}

h1 {
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}