html,
body, #container, #content {
    background-color: #23282d;
    height: 100%;
    width: 100%;
    margin: 0;
}


#nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-left: 20px;
    height: 5vh;
    width: 100vh;
    border: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 1px;
}

#content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#left-content,
#right-content {
    width: 20%;
    border: solid;
    border-top: none;
    border-bottom: none;
    border-width: 1px;
}

#left-content {
    border-left: none;
}

#right-content {
    border-right: none;
}

#inner-content {
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#next-page-button {
    border-style: solid;
    border-radius: 20px;
    border-width: 5px;
    border-color: black;
    height: 50px;
    background-color: maroon;
    text-decoration: none;
    color: #b3b1a5;
    /*remove box around autofocus*/
    outline: none;
}

h1 {
    text-align: center;
    color: #b3b1a5;
}

a {
    text-decoration: none;
    color: #b3b1a5;
}